<html>
    <head>
        <link rel='stylesheet' href='/css/style.css'>

    </head>
    <title></title>

    <body>
        <header>
            {{> header}}
        </header>
        {{> consolecontainer}}
        
    </body>
</html>