<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="../css/user.css">
        <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script>
        <script type="text/x-handlebars-template" id="some-template"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>
    </head>
    <body>
        {{> header}}

        <div class="crumbs">
            <ol>
                <li class="crumb"><a href='#'>홈</a></li>
                <li class="crumb"><a href="#">커뮤니티</a></li>
                <li class="crumb">문의사항</li>
            </ol>
        </div>

        <section>
            <div class="section-center">
                <div class="title">
                    <h2>문의사항</h2> 
                        {{#if post}}
                        <h1>hello</h1>
                        {{else}}
                        <h2>hello2 null</h2>
                        {{/if}} 
                </div>
            </div>
        </section>
        
    </body>
</html>