<div class="body-container">
    <section>
        <div class="button_area">
            <div class="button_center">
                <button class="start">start</button>
                <button class="stop">stop</button>
            </div>
        </div>
        <div class="transaction_area">
            <h1>Current, Transaction 영역입니다.</h1>
        </div>
        
        <div class="log_area">
            <img src="https://pm2.keymetrics.io/images/pm2-monit.png" width="1200px" height="500px">
        </div>
       

    </section>

</div>