<form class="" action="index.html" method="post">
  <div class="input-form">
    <div class="input-label">
      Resource Name : <input type="text" name="" value="" style="width:500px; height:30px;" placeholder="기기 이름을 입력해주세요">
    </div>
    <div class="input-label">
      IMEI : <input type="text" name="" value="" style="width:500px; height:30px;">
    </div>
    <div class="input-label">
      USIM : <input type="text" name="" value="" style="width:500px; height:30px;"><br>
    </div>
    <div class="input-label">
      Level0 : <input type="text" name="" value="" style="width:500px; height:30px;">
    </div>
    <button type="button" name="button">등록</button>
  </div>

</form>
