<header>
    <div class="header-toparea">
        <div class="header-logo">
            <a href="./index"><img src="../img/logo.png" alt=""></a>
        </div>
        <ul class="util">
            <li>춘의 어린이집 원장님 환영합니다</li>
            <li>??</li>
            <li>??</li>
        </ul>
    </div>
    <div class="header-bg">
        <div class="header-content">
            
            
            <div class="header-nav">
                <div class="header-nav-center">
                    <ul>
                        <li><a href="#">설정</a>
                            <ul class="dropdown">
                                <li><a href="#">Site & User</a></li>
                                <li><a href="#">단말기</a></li>
                            </ul>
                        </li>
                        <li><a href="#">사이트 측정 자료실</a>
                            <ul class="dropdown">
                                <li><a href="./locationMaterial">설치 위치별 자료</a></li>
                                <li><a href="./Dustkinds">항목별 자료</a></li>
                                <li><a href="./Atmosphericanalysis">대기 분석 정보</a></li>
                              </ul>
                        </li>
                        
                        <li><a href="#">대기정보 예보/경보</a>
                          <ul class="dropdown">
                            <li><a href="./Atmospheric">대기 정보 예보</a></li>
                            <li><a href="./pm10ForecastWeek">초미세먼지 주간 예보</a></li>
                            <li><a href="./areaNotification">권역별 경보 현황</a></li>
                            <li><a href="./duststorm">황사</a></li>
                          </ul>
                        </li>
                        
                        <li><a href="#">커뮤니티</a>
                            <ul class="dropdown">
                                <li><a href="/notice">공지사항</a></li>
                                <li><a href="/question">문의사항</a></li>
                              </ul>
                        </li>
                      </ul>
                </div>
            </div>

        </div>
    </div>

</header>
