<html>
    <head>
        <link rel="stylesheet" href="../css/hjy.css">
    </head>
    <body>
        {{!-- {{#CheckPosts post}}
        <h1>hello</h1>
        {{/CheckPosts}}
        {{#else}}
        <h2>hello</h2>
        {{/else}} --}}
        hhhhh
              
    </body>
</html>